.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td
{
  border: 0.75px solid #8C8C8C !important;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border: 0.75px solid #8C8C8C !important;
}
.padding_top{
    padding-top: 20px;
}
.setlink{
    color: #337ab7;
}
.mytab {
    width:390px !important;
}
.emp_print{
    width: 450px !important;
}
.co_address{
    font-weight: normal;
}
.no-left-padding{
    padding-left: 0px;
}
.table thead > tr > th { 	font-size: 13px; padding: 5px;}
.table tbody > tr > td { 	font-size: 12px; padding: 5px; }

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /*// Black prints faster: h5bp.com/s*/
	}
	.panel-heading.text-center { border:none !important; }
}
.panel-heading.text-center { border:none !important; }
.table.table-bordered{
  border-width: 0.75px !important;
}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
  float: left;
}
.col-md-1{
  width: 8.34%;
}
.col-md-2 {
  width: 16.67%;
}
.col-md-4 {
  width: 33.32%;
}
.col-md-5 {
  width: 41.65%;
  padding: 5px;
}
.col-md-8 {
  width: 66.66%;
}
.col-md-9 {
  width: 75.00%;
}
.col-md-6 {
  width: 50%;
}
.col-md-11{
  width: 91.65%;
}
.col-md-12{
  width: 100%;
}
.col-md-3 {
  width: 25%;
}
.col-md-10{
  width: 83%;
}
.border{
  border: 0.05em solid black;
}
.border-bottom {
  border-bottom: 1px solid;
  padding-top: 5px;
  padding-bottom: 5px;
}
.width20per {
  width: 20%;
}
.width40per {
  width: 40%;
}
.width60per {
  width: 60%;
}
.width80per {
  width: 80%;
}
.pad-left-30{
  padding-left: 30px !important;
}
.pad-right-30{
  padding-right: 30px !important;
}
.table-borderless td {
  border: none;
}
.no-padding{
  padding: 0px !important;
}
.padding-10{
  padding: 10px;
}
.pad-left-10{
  padding-left: 10px;
}
.pad-right-2{
  padding-right: 2px !important;
}
.pad-top-10{
  padding-top: 10px;
}
.pad-top-5{
  padding-top: 4px;
}
.padding-1{
  padding: 1px;
}

.border-left {
  border-left: 1px solid;
}
.border-right {
  border-right: 1px solid;
}
.border-top {
  border-top: 1px solid;
}
.border-all{
  border: 1px solid;
}
.no-bottom-margin{
  margin-bottom: 0px;
}
.table-bordered > tbody > tr.no-bottom > td{
  border-bottom: none !important;
  border-top: none !important;
}
.table-bordered > tbody > tr.no-right > td{
  border-right: none !important;
}
body{
  font-family:Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size:13px;
  line-height:1.5384616;
  color:#000;
  background-color:#FFF !important;
}
.min-width-100 {
    min-width: 80px;
}
.min-width-150 {
    min-width: 150px;
}
.width-125 {
    width: 125px;
}
.jobwork {
  width: 100%;
}
.jobwork thead > tr > th {  font-size: 12px; padding: 5px;}
.jobwork thead > tr > td {  font-size: 11px; padding: 5px;}
.jobwork tbody > tr > th {  font-size: 12px; padding: 5px; }
.jobwork tbody > tr > td {  font-size: 11px; padding: 5px; }
.border-left { border-left: 1px solid; }
.border-top { border-top: 1px solid; }
.border-right { border-right: 1px solid; }
.border-bottom { border-bottom: 1px solid; }
.min-30 {min-height: 30px; padding-top: 5px;}
.min-50 {min-height: 35px}
.min-60 {min-height: 55px}
.min-250 {min-height: 230px}
.min-75 {min-height: 75px}
.min-w-75 { min-width: 110px; display: inline-block; }
.min-w-100 { min-width: 150px; display: inline-block; }

.column-10,.column-20,.column-30,.column-40,.column-50,.column-60,.column-80,.column-90{
  float: left;
  padding: 5px;
}
.column-10 { width: 10%; }
.column-20 { width: 20%; }
.column-30 { width: 30%; }
.column-40 { width: 40%; }
.column-50 { width: 50%; }
.column-60 { width: 60%; }
.column-80 { width: 80%; }
.column-90 { width: 90%; }
.b-top { border-top: 1px solid; }
.b-right { border-right: 1px solid; }
.b-left { border-left: 1px solid; }
.b-bottom { border-bottom: 1px solid; }